*
  box-sizing: border-box
body   
  +reg
  background: $main-color
h1, h2, h3, h4, p, span
  margin: 0
  padding: 0
input
  outline: none  
a
  text-decoration: none
  -webkit-tap-highlight-color: transparent
img      
  max-width: 100%
.btn
  font-size: 13px
  +bold
  text-transform: uppercase
  outline: none

//Ховеры
@media (min-width: 1025px)
  .menu
    &__link
      &:hover
        color: $red-color
  .header
    &-btn 
      &:hover
        span
          background-color: $red-color
          &:before, &:after
            background-color: $red-color
  .main
    &-offer 
      &-text
        &__btn
          &:hover
            background: $hover-color
  .advice, .catalog
    &-form 
      &__btn
        &:hover
          background-color: $red-color
  .footer
    &-btn
      &:hover
        border: 2px solid $hover-color
        color: $hover-color
  .advantages
    &-item
      &__cover
        &:hover
          background: rgba(#000000, 0.3)
        &:hover .advantages-item__text
          color: $main-color                                  
        &:hover .advantages-item__text:before
          background-color: $main-color                                  
        &:hover .advantages-item__link
          color: $main-color
  .swiper-slide
    &-text 
      &__link
        &:hover
          color: $red-color
      &__btn
        &:hover
          background: $red-color