.catalog
  display: flex
  justify-content: center
  padding: 82px 0 100px  
  &-wrap
    display: flex
    width: 940px
  &-text 
    width: 525px
    padding-left: 18px
    &__title
      display: block
      +bold 
      font-size: 60px
      line-height: 63px  
      color: $red-color
      margin-bottom: 58px
    &__subtitle
      display: block
      width: 442px
      font-size: 18px
      line-height: 28px
      color: $grey-color
  &-form 
    position: relative
    width: 330px
    margin-left: 84px
    padding-top: 19px
    &__input
      width: 100%
      font-size: 13px
      letter-spacing: 4px
      text-transform: uppercase
      +bold
      padding: 15px 21px
      margin-bottom: 32px
      border: 2px solid #515151
    &__polici
      display: block      
      font-size: 13px
      line-height: 20px
      opacity: .5
    &__btn
      position: absolute
      left: -218px;
      bottom: -97px
      color: $main-color
      background: $grey-color
      text-transform: uppercase
      border: none
      outline: none
      font-size: 13px
      letter-spacing: 4px
      padding: 17px 25px
      cursor: pointer