.main
  position: relative
  display: flex
  &-bg1 
    width: 612px
    height: 1083px
    background: $brown-color
    padding-top: 95px
  &-tagline
    font-size: 16px     
    letter-spacing: 4px
    text-transform: uppercase
    color: $main-color
    margin-left: 100px  
  &-bg2
    position: relative
    display: flex 
    width: 100%
    height: 1174px
    background: $main-color
    padding-top: 76px
  &-logo 
    margin-left: 405px
    width: 300px
  &-offer
    position: absolute
    top: 205px
    left: 210px
    width: 1500px
    height: 1155px
    background: #fafafa
    &-text 
      text-align: center
      width: 592px
      padding-top: 150px
      margin-bottom: 219px
      &__time
        color: #747474
        font-size: 13px
        letter-spacing: 4px
        +bold
        text-transform: uppercase
        margin-bottom: 50px
      &__title
        width: 345px
        margin: 37px auto 45px
        color: $red-color
        +bold
        font-size: 100px
        line-height: 100px
      &__subtitle
        font-size: 20px
        line-height: 24px        
        letter-spacing: 3px
        text-transform: uppercase
        +bold
        margin-bottom: 50px
      &__btn
        color: $main-color
        background: $red-color
        display: inline-block
        margin: 0 auto
        letter-spacing: 4px
        padding: 18px 65px   
    &-desc
      display: flex
      justify-content: space-between      
      padding: 0 195px 0 180px
      &-item
        width: 315px
        &__title
          position: relative
          display: block
          font-size: 20px
          line-height: 24px
          letter-spacing: 3px
          color: #000000
          +bold
          margin-bottom: 34px
          padding-left: 25px
          text-transform: uppercase
          &:before
            position: absolute
            top: 12px
            left: 0px
            content: ''
            width: 16px
            height: 2px
            background: #000000            
        &__subtitle
          font-size: 18px
          line-height: 28px  



      