.menu  
  box-sizing: border-box
  position: absolute
  left: 0
  top: 0
  width: 100%
  display: flex
  align-items: center
  justify-content: space-between 
  height: 205px
  background: $menu-color
  z-index: 5
  transform: translateY(-100%)
  transition: 0.3s
  padding: 0px 202px 
  &_active
    transform: translateY(0)
  &-group
    display: flex
    justify-content: space-between    
    flex-basis: 50%
    &_unbordered
      padding-right: 131px
    &_bordered
      border: 1px solid $grey-color
      padding: 28px 0 28px 100px
  &__link    
    text-transform: uppercase
    color: $grey-color
    font-size: 13px
    letter-spacing: 4px
    +bold
@media (max-width: 1440px)
  .menu
    height: 160px
    padding: 0 157px
    &-group
      &_unbordered
        padding-right: 50px
      &_bordered
        padding: 20px 0 20px 40px
    &__link
      font-size: 12px      
